node_modules/
.env
https://dlogqxzejroeyivfmgcv.supabase.co
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsb2dxeHplanJvZXlpdmZtZ2N2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNzM3NTAsImV4cCI6MjA3NDc0OTc1MH0.db_GCxbVRDjVH9UslMvCqkKmkGtCLECnpqH-JMxYdZQ
